/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #ffdd00;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  main {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 36px;
    margin: 0;
  }
  
  h2 {
    font-size: 24px;
    margin-top: 20px;
  }
  
  p {
    font-size: 16px;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  footer {
    text-align: left;
    padding: 5px;
    background-color: #35393d;
    color: white;
  }
  
  